<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>Wallet</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>Bundle ID</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>io.mvlchain.wallet</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>Torus Client ID</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>clutchwallet</string>
					<string>***REMOVED***</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string></string>
		<key>UIAppFonts</key>
		<array>
			<string>Fonts/AppleSDGothicNeoH00.ttf</string>
			<string>Fonts/AppleSDGothicNeoEB00.ttf</string>
			<string>Fonts/AppleSDGothicNeoB00.ttf</string>
			<string>Fonts/AppleSDGothicNeoSB00.ttf</string>
			<string>Fonts/AppleSDGothicNeoM00.ttf</string>
			<string>Fonts/AppleSDGothicNeoR00.ttf</string>
			<string>Fonts/AppleSDGothicNeoL00.ttf</string>
			<string>Fonts/AppleSDGothicNeoUL00.ttf</string>
			<string>Fonts/AppleSDGothicNeoT00.ttf</string>
			<string>Fonts/MaterialIcons.ttf</string>
		</array>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>NSFaceIDUsageDescription</key>
		<string>Enabling Face ID allows you quick and secure access to your account.</string>
		<key>NSCameraUsageDescription</key>
		<string>needs access to your Camera for qr scan.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>needs access to your photo library for qr scan.</string>
	</dict>
</plist>
