//
//  Wallet.common.xcconfig
//  Wallet
//
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App Icon
WALLET_APP_ICON = AppIcon

// App Version
WALLET_APP_VERSION = 1.0.0

// Launch Screen
WALLET_LAUNCH_SCREEN = LaunchScreen
